body{
    background: #1446cd;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    background-color: white;
    width: 200px;
    height: 200px;
}